# Ignore egg-info directories
*.egg-info/

# Ignore __pycache__ directories
__pycache__/

# Ignore temporary files and folders
docs/build/
htmlcov/
.coverage

# ignore output files of example scripts
MissionOutput.json
examples/cygnss_gnssr/results/*